# IDE Config
.vscode

/vendor/
/bin/vendor/

/.idea/*
/.psh.yaml.override
/.php_cs.cache


/public/fonts/*
!/public/fonts/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/media/*
!/public/media/.gitkeep
/public/theme/*
/public/sitemap/*
/public/thumbnail/*
!/public/thumbnail/.gitkeep
/public/plugins/*
/public/assets/*

/files/*
/public/bundles/
/var/
/bin
/config
/src
/custom/plugins
/public

.phpunit
/docker-compose.override.yml
/custom/dev-ops/certs/*

###> custom ###
.DS_Store
/*.phar
/.htaccess.watch
/auth.json

.htaccess
/.env